<mat-form-field>
  <mat-label>{{
    "Enter a date range" | language : "langs" : "dateRangeFilter"
  }}</mat-label>
  <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
    <input
      matStartDate
      formControlName="start"
      placeholder="{{ 'Start date' | language : 'langs' : 'startDate' }}"
    />
    <input
      matEndDate
      formControlName="end"
      placeholder="{{ 'End date' | language : 'langs' : 'endDate' }}"
    />
  </mat-date-range-input>
  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker
    [dateClass]="dateClass"
    #picker
  ></mat-date-range-picker>

  @if (range.controls.start.hasError('matStartDateInvalid')) {
  <mat-error>{{
    "Invalid start date" | language : "langs" : "invalidStartDate"
  }}</mat-error>
  } @if (range.controls.end.hasError('matEndDateInvalid')) {
  <mat-error>{{
    "Invalid end date" | language : "langs" : "invalidEndDate"
  }}</mat-error>
  }
</mat-form-field>

<p>
  {{ "Selected range" | language : "langs" : "selectedRange" }}:
  {{ range.value | json }}
</p>

<button mat-button class="btn unfilledBtn" (click)="clearPeriodFilter()">
  {{ "Clear" | language : "langs" : "clearFilter" }}
</button>
<button mat-button class="btn filledBtn" (click)="applyPeriodFilter()">
  {{ "Apply" | language : "langs" : "applyFilter" }}
</button>
