.btn {
  background: none;
  border-radius: 5px;
  padding: 0.75em 2em;
  transition: 0.2s;
}

.btn:hover {
  cursor: pointer;
}

.filledBtn {
  background-color: #02ca98;
  color: white;
  border: none;
}

.unfilledBtn {
  border: 1px solid #02ca98;
  color: #02ca98;
}

.filledBtn:disabled {
  background-color: #acacac;
}

.filledBtn:enabled:hover {
  opacity: 0.8;
}

.unfilledBtn:enabled:hover {
  background-color: #e9e5e5;
  color: black;
}
