<mat-toolbar class="header">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    routerLink="/"
  >
    <mat-icon>home</mat-icon>
  </button>

  <span>{{ "AL-KHWARIZMI" | language : "langs" : "alKharizmi" }}</span>
  <span class="example-spacer"></span>

  <a routerLink="/password" style="font-size: 0.8em; text-decoration: none"
    >Password</a
  >

  <div style="display: flex; margin: 0 15px">
    <hr style="height: 35px; border: 1px solid #e8e8e8" />
  </div>

  <app-initial-circle [currentUser]="currentUser"></app-initial-circle>

  <div style="display: flex; margin: 0 15px">
    <hr style="height: 35px; border: 1px solid #e8e8e8" />
  </div>

  <button mat-button (click)="toggleTextSize()">
    {{ textSizeBtn }}
  </button>

  <div style="display: flex; margin: 0 15px">
    <hr style="height: 35px; border: 1px solid #e8e8e8" />
  </div>

  <button mat-button (click)="toggleLanguage()">
    {{ "العربية" | language : "langs" : "language" }}
  </button>
</mat-toolbar>
