<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="home"
    ></mat-icon>
  </button>
  <span>AL-KHWARIZMI</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <mat-divider [vertical]="true"></mat-divider>
  <button mat-button>العربية</button>
</mat-toolbar>
