<h2 mat-dialog-title>{{ "SURVEY" | language : "langs" : "surveyLabel" }}</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>{{
      "Survey Name" | language : "langs" : "surveyName"
    }}</mat-label>
    <input matInput [(ngModel)]="SurveyName" />
  </mat-form-field>
  <p>SRV_ID: {{ data.SRV_ID }}</p>
  <p>SurveyNameAr: {{ data.SurveyNameAr }}</p>
  <p>SurveyPeriods: {{ data.SurveyPeriods }}</p>
  <p>SURVEY_STATUS_AR: {{ data.SURVEY_STATUS_AR }}</p>
  <p>SURVEY_STATUS_EN: {{ data.SURVEY_STATUS_EN }}</p>
  <p>TEMPLATE_ID: {{ data.TEMPLATE_ID }}</p>
  <p>TemplateName: {{ data.TemplateName }}</p>
  <p>TemplateNameAr: {{ data.TemplateNameAr }}</p>
  <p>TemplateNameEn: {{ data.TemplateNameEn }}</p>
  <p>SystemType: {{ data.SystemType }}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">
    {{ "Cancel" | language : "langs" : "closeSurveyNameEdit" }}
  </button>
  <button mat-button [mat-dialog-close]="SurveyName()" cdkFocusInitial>
    {{ "Save" | language : "langs" : "confirmSurveyNameEdit" }}
  </button>
</mat-dialog-actions>
