<mat-card
  appearance="outlined"
  class="survey-item"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  [ngStyle]="{ '--bColor': color, color: textColor }"
  [class.selectedSurvey]="isSelected"
>
  <div class="iconDiv">
    <mat-icon
      [fontIcon]="surveyIcon"
      [ngStyle]="{ color: isSelected ? 'white' : iconColor }"
    ></mat-icon>
  </div>

  <mat-card-content>{{ survey | language : "Name" }}</mat-card-content>

  @if (surveyPeriods.length !== 0) {
  <hr
    style="width: 100%; border: none; height: 1px; background-color: #e8e8e8"
  />
  } @if (surveyPeriods.length > 1) {
  <mat-form-field>
    <mat-label>Select Period</mat-label>
    <mat-select (selectionChange)="changePeriod($event.value)">
      @for (period of surveyPeriods; track $index) {
      <mat-option [value]="period"
        >{{
          period.START_DATE.substr(
            0,
            period.START_DATE.indexOf("T")
          ).replaceAll("-", "/")
        }}
        -
        {{
          period.END_DATE.substr(0, period.END_DATE.indexOf("T")).replaceAll(
            "-",
            "/"
          )
        }}</mat-option
      >
      }
    </mat-select>
  </mat-form-field>
  } @else if (surveyPeriods.length === 1) {
  <div>
    {{
      surveyPeriods[0].START_DATE.substr(
        0,
        surveyPeriods[0].START_DATE.indexOf("T")
      ).replaceAll("-", "/")
    }}
    -
    {{
      surveyPeriods[0].END_DATE.substr(
        0,
        surveyPeriods[0].END_DATE.indexOf("T")
      ).replaceAll("-", "/")
    }}
  </div>
  }
</mat-card>
