.survey-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 250px;
  height: 180px;
  overflow: hidden;
  position: relative;
  border-color: #e8e8e8;
  transition: 0.2s;
}

.selectedSurvey {
  border: 3px solid var(--bColor);
}

.selectedSurvey .iconDiv {
  background-color: var(--bColor);
  border-color: var(--bColor);
  scale: 1.05;
}

.survey-item::before {
  width: 255px;
  height: 7.5px;
  content: "";
  position: absolute;
  background-color: var(--bColor);
  top: 0px;
}

.survey-item:hover {
  border: 3px solid var(--bColor);
}

.survey-item:hover .iconDiv {
  background-color: var(--bColor);
  border-color: var(--bColor);
  scale: 1.05;
}

.iconDiv {
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  padding: 5px 10px 0 10px;
  margin-top: 15px;
  transition: 0.3s;
}
