<table
  mat-table
  [dataSource]="surveys"
  matSort
  class="mat-elevation-z8"
  (matSortChange)="sortData()"
>
  <!-- Radio button column -->
  <ng-container matColumnDef="radio">
    <th mat-header-cell *matHeaderCellDef></th>
    <td
      mat-cell
      *matCellDef="let row"
      [ngClass]="{
        selectedLeftSurvey: isSelected(row.SRV_ID) && language === 'En',
        selectedRightSurvey: isSelected(row.SRV_ID) && language === 'Ar'
      }"
    >
      <mat-radio-button
        [checked]="isSelected(row.SRV_ID)"
        (click)="selectSurvey(row)"
      ></mat-radio-button>
    </td>
  </ng-container>

  <!-- SurveyName Column -->
  <ng-container matColumnDef="surveyName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ "Survey Name" | language : "langs" : "surveyName" }}
    </th>
    <td
      mat-cell
      *matCellDef="let row"
      [class.selectedSurvey]="isSelected(row.SRV_ID)"
    >
      @if (row.SURVEY_STATUS_EN === 'Published') {
      <mat-icon
        [fontIcon]="'check'"
        style="color: #02ca98"
        class="{{ language === 'Ar' ? 'ar' : 'en' }}"
      ></mat-icon>
      } @else if (row.SURVEY_STATUS_EN === 'Expired') {
      <mat-icon
        [fontIcon]="'alarm'"
        style="color: #8d8d8d"
        class="{{ language === 'Ar' ? 'ar' : 'en' }}"
      ></mat-icon>
      } @else if (row.SURVEY_STATUS_EN === 'Closed') {
      <mat-icon
        [fontIcon]="'lock'"
        style="color: #8d8d8d"
        class="{{ language === 'Ar' ? 'ar' : 'en' }}"
      ></mat-icon>
      }

      {{ row | language : "Name" }}
    </td>
  </ng-container>

  <!-- From Column -->
  <ng-container matColumnDef="from">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ "From" | language : "langs" : "periodFrom" }}
    </th>
    <td
      mat-cell
      *matCellDef="let row"
      [class.selectedSurvey]="isSelected(row.SRV_ID)"
    >
      @if (row.SelectedPeriod) {
      <p>
        {{ getStartDateString(row.SelectedPeriod) }}
      </p>
      }
    </td>
  </ng-container>

  <!-- To Column -->
  <ng-container matColumnDef="to">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ "To" | language : "langs" : "periodTo" }}
    </th>
    <td
      mat-cell
      *matCellDef="let row"
      [class.selectedSurvey]="isSelected(row.SRV_ID)"
    >
      @if (row.SelectedPeriod) {
      <p>
        {{ getEndDateString(row.SelectedPeriod) }}
      </p>
      }
    </td>
  </ng-container>

  <!-- Period Column -->
  <ng-container matColumnDef="period">
    <th mat-header-cell *matHeaderCellDef>
      {{ "Period" | language : "langs" : "period" }}
    </th>
    <td
      mat-cell
      *matCellDef="let row"
      [ngClass]="{
        selectedRightSurvey: isSelected(row.SRV_ID) && language === 'En',
        selectedLeftSurvey: isSelected(row.SRV_ID) && language === 'Ar'
      }"
    >
      @if (row.SurveyPeriods && checkIfNotOneDate(row.SurveyPeriods)) {
      <mat-form-field>
        <mat-label>{{
          "Select period" | language : "langs" : "selectPeriod"
        }}</mat-label>
        <mat-select (selectionChange)="changePeriod($event.value, row)">
          @for (period of getParsedPeriods(row.SurveyPeriods); track $index) {
          <mat-option [value]="period"
            >{{ getStartDateString(period).replaceAll("-", "/") }}
            -
            {{ getEndDateString(period).replaceAll("-", "/") }}</mat-option
          >
          }
        </mat-select>
      </mat-form-field>
      }
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    [class.selectedSurvey]="isSelected(row.SRV_ID)"
  ></tr>
</table>
