.selectedSurvey {
  border-top: 3px solid #02ca98;
  border-bottom: 3px solid #02ca98;
  background-color: #f9f9f9;
}

.selectedLeftSurvey {
  border-left: 3px solid #02ca98;
  border-top: 3px solid #02ca98;
  border-bottom: 3px solid #02ca98;
  background-color: #f9f9f9;
}

.selectedRightSurvey {
  border-top: 3px solid #02ca98;
  border-bottom: 3px solid #02ca98;
  border-right: 3px solid #02ca98;
  background-color: #f9f9f9;
}

.mat-icon {
  position: relative;
  top: 5px;
  left: -15px;
  font-size: 25px;
}
