<div class="password">
  <input
    type="{{ isHidden }}"
    matInput
    placeholder="Enter New Password"
    class="passwordInput"
    [ngStyle]="{
      'border-color': invalidRules.length !== 0 ? 'red' : '#b8b8b8'
    }"
    name="password"
    (input)="checkPassword()"
    [(ngModel)]="password"
  />

  <button (click)="toggleShowPassword()">{{ showPasswordBtn }}</button>

  <div class="invalidPasswordModel" *ngIf="invalidRules.length !== 0">
    <h4>PASSWORD NOT ALLOWED</h4>
    <ul *ngFor="let rule of invalidRules">
      <li>{{ rule.message }}</li>
    </ul>
  </div>
</div>
