<div class="surveysContainer">
  <!-- Sub Header -->
  <mat-toolbar class="subHeader">
    <!-- Survey Status Tab -->
    <mat-tab-group (selectedTabChange)="handleTabChangeEvent($event)">
      <mat-tab
        label="{{ 'Published' | language : 'langs' : 'surveyStatusPublished' }}"
      >
      </mat-tab>
      <mat-tab
        label="{{ 'Expired' | language : 'langs' : 'surveyStatusExpired' }}"
      >
      </mat-tab>
      <mat-tab
        label="{{ 'Closed' | language : 'langs' : 'surveyStatusClosed' }}"
      >
      </mat-tab>
      <mat-tab
        label="{{ 'All Surveys' | language : 'langs' : 'surveyStatusAll' }}"
      >
      </mat-tab>
    </mat-tab-group>

    <!-- Survey filter -->
    <div class="surveySearch">
      <button
        mat-button
        class="btn filledBtn"
        [disabled]="selectedSurvey === null"
        (click)="openDialog()"
      >
        {{ "Go to Dashboard" | language : "langs" : "dashboard" }}
      </button>
      <input
        type="text"
        matInput
        placeholder="{{
          'Search survey name' | language : 'langs' : 'searchPlaceholder'
        }}"
        class="{{ language === 'Ar' ? 'searchInputAr' : 'searchInputEn' }}"
        name="searchName"
        (input)="searchByName()"
        [(ngModel)]="searchName"
      />
      <button mat-button class="btn unfilledBtn" [matMenuTriggerFor]="menu">
        {{ "Filter" | language : "langs" : "filter" }}
      </button>

      <mat-menu #menu="matMenu">
        <app-date-period-picker
          [surveysPeriods]="surveysPeriods"
        ></app-date-period-picker>
      </mat-menu>
    </div>
  </mat-toolbar>

  <!-- Main section -->
  <div style="width: 100%">
    <!-- No Surveys -->
    @if (currentSurveys && currentSurveys.length === 0 && !isLoading) {
    <p>
      {{ "NO RESULTS FOUND" | language : "langs" : "noResults" }}
    </p>
    } @if (isLoading) {
    <mat-spinner></mat-spinner>
    }

    <!-- Surveys -->
    @if (currentSurveys && currentSurveys.length !== 0) {
    <!-- Survey View Tab -->
    <mat-tab-group
      (selectedTabChange)="handleViewTabChangeEvent($event)"
      [selectedIndex]="selectedView === 'list' ? 0 : 1"
    >
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon [fontIcon]="'list'"></mat-icon>
          {{ "List" | language : "langs" : "listView" }}
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon [fontIcon]="'grid_view'"></mat-icon>
          {{ "Grid" | language : "langs" : "gridView" }}
        </ng-template>
      </mat-tab>
    </mat-tab-group>

    <!-- Surveys list view -->
    @if (selectedView === 'list') {
    <app-surveys-list-view [surveys]="currentSurveys"></app-surveys-list-view>
    } @else if (selectedView === 'grid') {
    <!-- Surveys grid view -->
    <app-surveys-grid-view [surveys]="currentSurveys"></app-surveys-grid-view>
    } }
  </div>

  <!-- Paginator -->
  <mat-paginator
    [length]="activeTabSurveysLength"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [showFirstLastButtons]="true"
    [pageIndex]="currentPage"
    (page)="handlePageEvent($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
