<div>
  <mat-toolbar class="subNav">
    <mat-tab-group
      (selectedTabChange)="handleTabChangeEvent($event)"
      class="remove-border-bottom"
    >
      <mat-tab label="Published"> </mat-tab>
      <mat-tab label="Expired"> </mat-tab>
      <mat-tab label="Closed"> </mat-tab>
      <mat-tab label="All Surveys"> </mat-tab>
    </mat-tab-group>

    <div>
      <button mat-fab extended>Go to Dashboard</button>
      <input type="text" placeholder="Search survey name" />
      <button mat-fab extended>Filter</button>
    </div>
  </mat-toolbar>

  <div>
    <p *ngIf="currentSurveys.length === 0">NO RESULTS FOUND</p>
    <mat-grid-list cols="5" rowHeight="2:1">
      <mat-grid-tile *ngFor="let survey of currentSurveys"
        ><app-survey-item
          [ngClass]="{
            selectedSurvey:
              selectedSurvey &&
              selectedSurvey.TEMPLATE_ID === survey.TEMPLATE_ID
          }"
          [survey]="survey"
          (click)="selectSurvey(survey, $event)"
        ></app-survey-item
      ></mat-grid-tile>
    </mat-grid-list>
  </div>

  <mat-paginator
    [length]="activeTabSurveysLength"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [showFirstLastButtons]="true"
    [pageIndex]="currentPage"
    (page)="handlePageEvent($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
