<div class="surveysContainer">
  <!-- Sub Header -->
  <mat-toolbar class="subHeader">
    <!-- Survey Status Tab -->
    <mat-tab-group (selectedTabChange)="handleTabChangeEvent($event)">
      <mat-tab label="Published"> </mat-tab>
      <mat-tab label="Expired"> </mat-tab>
      <mat-tab label="Closed"> </mat-tab>
      <mat-tab label="All Surveys"> </mat-tab>
    </mat-tab-group>

    <!-- Survey filter -->
    <div class="surveySearch">
      <button
        class="btn filledBtn"
        [disabled]="selectedSurvey === null"
        (click)="openDialog()"
      >
        Go to Dashboard
      </button>
      <input
        type="text"
        matInput
        placeholder="Search survey name"
        class="searchInput"
        name="search"
        (input)="getCurrentSurveys()"
        [(ngModel)]="search"
      />
      <button class="btn unfilledBtn">Filter</button>
    </div>
  </mat-toolbar>

  <!-- Main section -->
  <div>
    <!-- No Surveys -->
    <p
      *ngIf="
        (search === '' && currentSurveys && currentSurveys.length === 0) ||
        (search !== '' && searchedSurveys && searchedSurveys.length === 0)
      "
    >
      NO RESULTS FOUND
    </p>

    <!-- Surveys -->
    <div
      *ngIf="
        (search === '' && currentSurveys && currentSurveys.length !== 0) ||
        (search !== '' && searchedSurveys && searchedSurveys.length !== 0)
      "
    >
      <!-- Survey View Tab -->
      <mat-tab-group (selectedTabChange)="handleViewTabChangeEvent($event)">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon [fontIcon]="'list'"></mat-icon>
            List
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon [fontIcon]="'grid_view'"></mat-icon>
            Grid
          </ng-template>
        </mat-tab>
      </mat-tab-group>

      <!-- Surveys list view -->
      <app-surveys-list-view
        [surveys]="currentSurveys"
        *ngIf="selectedView === 'list'"
      ></app-surveys-list-view>

      <!-- Surveys grid view -->
      <app-surveys-grid-view
        [surveys]="currentSurveys"
        *ngIf="selectedView === 'grid'"
      ></app-surveys-grid-view>
    </div>
  </div>

  <!-- Paginator -->
  <mat-paginator
    [length]="activeTabSurveysLength"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [showFirstLastButtons]="true"
    [pageIndex]="currentPage"
    (page)="handlePageEvent($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
